@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This web site is created with the technologies below;</p>

<ul>
    <li>
        <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-2.2">ASP.NET Core MVC 2.2</a>
    </li>
    <li>
        <a href="https://azure.microsoft.com/en-us/services/cognitive-services/">Microsoft Azure Cognitive Services</a> Face API
    </li>
</ul>

<p>It is running on all free resources, please don't be harsh.</p>